@page "/settings"
@using Microsoft.AspNetCore.Authorization
@using Microsoft.Graph
@attribute [Authorize]
@inject GraphServiceClient graphclient
@inject Blazored.LocalStorage.ISyncLocalStorageService localstorage
@inject NavigationManager nav

<a href="/">Back</a>
<h1>Settings</h1>
<form>
    <div>
        <RadzenLabel Text="Choose your Team:" Component="team-dropdown" class="align-middle"/>
        <RadzenDropDown Name="team-dropdown"
            Data=@teams @bind-Value=@theteamid
            TextProperty="DisplayName" ValueProperty="Id" class="align-middle"/>
    </div>
</form>

@code {
    string? theteamid {
        get => localstorage.GetItem<string>("theteamid");
        set {
            localstorage.SetItem("theteamid", value);
            nav.NavigateTo("/");
        }
    }
    private IUserJoinedTeamsCollectionWithReferencesPage? teams;
    protected override async Task OnInitializedAsync()
    {
        teams = await graphclient.Me.JoinedTeams
        .Request()
        .GetAsync();
    }
}