@page "/settings"
@using Microsoft.AspNetCore.Authorization
@using Microsoft.Graph
@attribute [Authorize]
@inject GraphServiceClient graphclient
@inject ClientSettings clientsettings
@inject NavigationManager nav

<div class="d-flex" style="align-items:center; gap: 1.4em;">
    <h1>Settings</h1>
<a href="/">Back</a>
</div>
<form>
    <div>
        <RadzenLabel Text="Team that uses Shifts:" Component="team-dropdown" class="align-middle"/>
        <RadzenDropDown Name="team-dropdown"
            Data=@teams TextProperty="DisplayName" ValueProperty="Id"
            @bind-Value=@clientsettings.theteamid
            class="align-middle"/>
    </div>
</form>

<UploadCSV />

@code {
    private IUserJoinedTeamsCollectionWithReferencesPage? teams;
    protected override async Task OnInitializedAsync()
    {
        teams = await graphclient.Me.JoinedTeams
        .Request()
        .GetAsync();
    }
}
