@using Microsoft.Graph
@using CurrieTechnologies.Razor.PageVisibility
@using static TimeCardDuration
@inject GraphServiceClient GraphClient
@inject ClientSettings clientsettings
@inject PageVisibilityService visibility


<div class="d-flex flex-column">
<h2 class="text-center">Timecard Total</h2>

<PageTitle> @FormatDuration(TotalTimespan(TimeCards))</PageTitle>

<RadzenRadialGauge>
    @{
        int target = clientsettings.targetweeklyhours;
        int lower = target - 5;
        // snap to the nearest 5
        lower = (lower / 5) * 5;
        int upper = target + 5;
        upper = (upper / 5) * 5;
    }
    <RadzenRadialGaugeScale Min="0" Max=@upper Step=5 TickPosition="GaugeTickPosition.Outside" MinorStep="1">
        <RadzenRadialGaugeScalePointer Value="@(TotalTimespan(TimeCards)?.TotalHours ?? 0)">
            <Template Context="pointer">
                <div class="totalhours-container">
                    <div class="totalhours-value">
                        <span>@FormatDuration(TotalTimespan(TimeCards))</span>
                    </div>
                    <div class="totalhours-units">
                        HH:MM:SS
                    </div>
                </div>
            </Template>
        </RadzenRadialGaugeScalePointer>
        <RadzenRadialGaugeScaleRange From="0" To=@lower Fill="green" />
        <RadzenRadialGaugeScaleRange From=@lower To=@target Fill="orange" />
        <RadzenRadialGaugeScaleRange From=@target To=@upper Fill="red" />
    </RadzenRadialGaugeScale>
</RadzenRadialGauge>
</div>

@code {
    [Parameter]
    public required IEnumerable<TimeCard>? TimeCards { get; set; }

    Timer? update_datetimes_in_gui;
    protected override void OnInitialized()
    {
        // This updates the clock/timecard every second
        update_datetimes_in_gui = new Timer(_ => StateHasChanged(), null, TimeSpan.Zero, TimeSpan.FromSeconds(1));
    }
}
