@inherits LayoutComponentBase

<div class="page">
    <main>
        <div class="top-row px-4 auth">
            <a href="settings" class="mx-4">Settings</a>
            <LoginDisplay />
        </div>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
